# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Build & Dist
frontend/dist/
frontend/build/

# Environment variables
backend/.env
.env

# System files & Logs
*.log
.DS_Store
Thumbs.db
